<div class="page-wrapper Site">
  <header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
      <div class="header3-wrap">
        <div class="header__logo">
          <a routerLink="/">
            <img class="disable-user-select" src="../assets/Images/logo.png" alt="placer">
          </a>
        </div>
        <div class="header__navbar mrg-a">
          <a routerLink="/login" class="mr-3" *ngIf="!authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-info menu-btn">Sign in</button>
          </a>
          <a routerLink="/register" *ngIf="!authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-info menu-btn">Register</button>
          </a>
          <a (click)="logout()" *ngIf="authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-info menu-btn">Logout</button>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="Site-content">
    <router-outlet></router-outlet>
  </div>
  <section class="welcome2 p-t-40 p-b-55">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb3">
            <div class="au-breadcrumb-left">
              <span class="au-breadcrumb-span">You are here:</span>
              <ul class="list-unstyled list-inline au-breadcrumb__list">
                <li class="list-inline-item active">
                  <a href="#">Home</a>
                </li>
                <li class="list-inline-item seprate">
                  <span>/</span>
                </li>
                <li class="list-inline-item">Dashboard</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>