<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <p class="mb-1">home > apartments > {{currentCity}}</p>
      <h3 class="mb-1">{{currentCity}}</h3>
      <p>
        3 reasons to visit: sight seeing museums architecture
        Moscow straddles the line between starchy capital and cultural powerhouse.
      </p>
      <hr style="width: 100%" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2 offset-md-1">
      <div class="side-search mb-2">
        <form [formGroup]='form' (submit)="submitSearch()">
          <h3>Search</h3>
          <label for="sc-city" class="mb-0 fs-14">Destination/city name:</label>
          <input type="text" formControlName="destination" class="sb-search" />
          <label for="sc-city" class="mb-0 fs-14">Check-in date:</label>
          <ejs-daterangepicker placeholder='Select a range' formControlName='dateRange'>
          </ejs-daterangepicker>
          <label for="sc-person" class="mb-0 fs-14">Person</label>
          <input type="text" formControlName="person" class="sb-search" />
          <button type="submit" class="btn btn-primary mt-2">
            Search
          </button>
        </form>
      </div>
      <div class="sb-filter">
        <h4 class="pb-2 display-5">Filter by:</h4>
        <p>Properties</p>
        <form #srcForm="ngForm" (ngSubmit)="submitFilter(srcForm)">
          <div class="checkbox" *ngFor="let p of properties">
            <input type="checkbox" name={{p.name}} ngModel><small class="pl-2">{{p.name}}</small>
          </div>
          <button button type="button" class="btn btn-warning btn-sm" type="submit">Find</button>
        </form>
      </div>
      <!-- <div class="slidecontainer mt-3">
        <h4 class="pb-2 display-5">Price min</h4>
        <input type="range" min="1" max="100" value="30" class="slider">
      </div>
      <div class="slidecontainer mt-3">
        <h4 class="pb-2 display-5">Price max</h4>
        <input type="range" min="1" max="100" value="80" class="slider">
      </div> -->
    </div>
    <div class="col-md-8">
      <div class="row">
        <h4>{{currentCity}}: {{apartments.length}} apartments found</h4>
        <div class="ap-header">
          <button type="button" class="w-25 ap-btn disable-user-select">Our top picks</button>
          <button type="button" class="w-25 ap-btn disable-user-select" (click)="priceMin()">Price <i
              class="fas fa-sort"></i></button>
          <button type="button" class="w-25 ap-btn disable-user-select" (click)="starSort()">Stars <i
              class="fas fa-sort"></i>
          </button>
          <button type="button" class="w-25 ap-btn disable-user-select last-btn" (click)="sortReview()">Most reviewed</button>
        </div>
      </div>
      <app-apartment *ngFor="let apartment of apartments | paginate: { itemsPerPage: 4, currentPage: p }"
        [item]='apartment'>
      </app-apartment>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>