<div class="home-header">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-10 mx-auto">
        <p class="disable-user-select">A home from home; choose the apartment that appeals to you the most.</p>
        <div>
          <input type="text" class="home-search" placeholder="More places then you could ever go!" />
          <input type="text" class="home-search-right" />
          <input type="text" class="home-search-right" />
          <button class="home-src-button">Search</button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container mt-3">
  <p class="home-popular disable-user-select">Most popular cities</p>
  <div class="row" *ngIf="loading">
    <app-card class="col-md-3" *ngFor="let item of recommendedCities" [item]="item"></app-card>
  </div>
</div>
<div class="container">
  <div class="row">
    <p class="home-popular disable-user-select">
      MOST POPULAR APARTMENTS IN BELGRADE
    </p>
    <div class="row" *ngIf="loading">
      <app-card-apartment class="col-md-3" *ngFor="let item of recommendedApartmentsInBelgrade" [item]="item"></app-card-apartment>
    </div>
  </div>
</div>